---
import Layouts from "../layouts/Layouts.astro";
import profil from '../../public/wafi.png';
import { Image } from "astro:assets";
import { FaFacebook, FaInstagram, FaLinkedin } from "react-icons/fa";
import { FaXTwitter } from "react-icons/fa6";
const posts = await Astro.glob("../assets/data.mdx");
const datas = posts[0].frontmatter

const data = [
  {
    nama: FaFacebook,
    link: "https://www.facebook.com",
    color: "hover:text-blue-900 hover:border-blue-900",
  },
  {
    nama: FaXTwitter,
    link: "https://www.twitter.com",
    color: "hover:text-black hover:border-black",
  },
  {
    nama: FaInstagram,
    link: "https://www.instagram.com",
    color: "hover:text-pink-500 hover:border-pink-500",
  },
  {
    nama: FaLinkedin,
    link: "https://www.linkedin.com",
    color: "hover:text-blue-500 hover:border-blue-500",
  }
];
---

<Layouts title="About Page">
  <div class="pt-[70px] container py-10 gap-8 h-fit">
    <h1 class="text-[5vw] bebas underline">{datas.title}</h1>
    <div class="grid grid-cols-2 items-center relative  w-full">
      <div class="relative w-[400px] h-[500px]  bg-gray-900">
        <div class="absolute top-0 left-0 w-full h-full  -z-10"></div>
        <Image src={profil} alt="Profile Picture" class="object-cover w-full h-[500px] z-10 brightness-75" />
        <div class="absolute bottom-10  w-full h-[80px] bg-gray-800 z-10 flex justify-around items-center">
          {data.map((item) => (
            <a href={item.link} class={`text-white ${item.color} text-2xl border-2 p-2 rounded-full`}>
              <item.nama size={20} />
            </a>
          ))}
        </div>
        <div class="absolute bottom-0 left-0 w-full text-center bg-gray-500 text-white z-10 py-2">
          <h3 class="bebas">Created By: Moh. Wafiuddin Wafiq</h3>
        </div>
      </div>
      <div class="flex flex-col gap-5 font-bebas text-black text-xl">
        <h1 class="bg-black text-white px-3 w-fit py-2">Biodata</h1>
        <p class="">name : {datas.name}</p>
        <p class="">Date of Birth : {datas.date}</p>
        <p class="">address : {datas.address}</p>
        <p class="">phone : {datas.phoneNumber}</p>
        <p class="">Email : {datas.email}</p>
        <button id="toggleButton" class="text-white bg-black py-2 w-fit px-4">
          Click It
        </button>
        <p id="subtitle" class="blog" style={{ fontStyle: 'italic' }}>
          When you feel exhausted, remember that the fruit of struggle is everlasting happiness and satisfaction
        </p>
      </div>
    </div>
  </div>
</Layouts>

<script>
    document.addEventListener('DOMContentLoaded', () => {
    const button = document.getElementById('toggleButton');
    const subtitle = document.getElementById('subtitle');

    button.addEventListener('click', () => {
      if (subtitle.textContent === 'When you feel exhausted, remember that the fruit of struggle is everlasting happiness and satisfaction') {
        subtitle.textContent = 'Ketika kamu merasa lelah, ingatlah bahwa buah dari perjuangan adalah kebahagiaan dan kepuasan yang abadi';
      } else {
        subtitle.textContent = 'When you feel exhausted, remember that the fruit of struggle is everlasting happiness and satisfaction';
      }
    });
  });
</script>
